@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mozart Musical Dice Player</h1>
    <p class="lead">My solution for the <a href="https://www.reddit.com/r/dailyprogrammer/comments/7i1ib1/20171206_challenge_343_intermediate_mozarts/" target="_blank">Mozart Musical Dice</a> challenge from Reddit's <a href="https://www.reddit.com/r/dailyprogrammer/" target="_blank">Daily Programmer</a> subreddit.</p>
</div>

<div class="row">
    <div class="text-center">
        <p>future home of the dice player.</p>
    </div>
</div>